.landingBanner{
  font-family: "Ubuntu";
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1956b4;
}
.landingBanner2{
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-family: "Ubuntu";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.62px;
  text-align: center;
  color: #ff7c01;
}

.paragraph{
  margin-top: 1rem;
  font-family: Ubuntu;
  font-size: 20px;
  /* font-weight: normal; */
  /* font-stretch: normal; */
  /* font-style: normal; */
  line-height: 1.2;
  letter-spacing: 0.10px;
  color: #5d5d5d;
}
.ourClients{
  display: flex;
  justify-content: center;
}

.coffeesection{
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 5.7rem;
}
.researchSection{
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 6.5rem;
}
.potSection{
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 5.7rem;
}
.contentSection{
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 6.5rem;
}

.rewardSection{
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 5.7rem;
}
.right{

  /* padding-right: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height:200px; */
}
.left{
  /* padding-left: 4rem; */
  display: flex;
  flex-direction: column;
  /* height:200px */
}

.icons{
  display:flex;
  /* justify-content: space-between; */
  margin-top: 2rem;
}

.icons2{
  margin-left: 3rem;
}

.icons3{
  margin-left: 3rem;
}

.mainTitle{
  font-family: "Ubuntu";
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.62px;
  text-align: left;
  color: #1956b4;

  
}
.title{
  text-align: left;
  font-family: "Ubuntu";
  color: #ff9736;

}

.clientDeets{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.ourClients{
  font-family: Ubuntu;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.63px;
  color: #ff7c01;
}

.highlight{
  color: red;
}