.navbarContainer{
    position: absolute;
    background:transparent;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.navbarWrapper1{
    color: white;
    padding: 0 3rem;
    display:flex;
    justify-content: space-between;
    height:100%;
    align-items: center;
}

.navContent{
    margin-left: 42rem;
    justify-content: space-between;
}

.info{
    margin-left: 3rem;
    justify-content: space-between;
}
